<div class="contacts grow" id="contact">
    <a href="tel:+212664603628" data-aos="fade-right">
        <img src="/call.png" alt="" class="contact">
    </a>
    <a href="https://www.instagram.com/shibumi_conception?igsh=MWYzZWZuYTRwOW85MQ==" data-aos="fade-left">
        <img src="/insta.png" alt="" class="contact">
    </a>
</div>

<style>
    .contacts {
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 100px;
        height: 80vh;
        width:100%;
    }

    img {
        width: 160px;
        height: 160px;
    }


    img:hover {
        transition: all .3s ease-in-out;
        transform: scale(1.1);
        filter: drop-shadow(0px 0px 20.6072px #FFEA05);
    }

</style>