---
import "aos/dist/aos.css";
---

<nav class="navmenu" id="navbar">
        <ul class="container">
            <li class="grow" data-aos="fade-right"><a href="#portfolio">About Us</a></li>
            <li class="grow" data-aos="fade-right"><a href="#plans">Plans</a></li>
            <li class="grow" data-aos="fade-down"><a href="/">SHIBUMI</a></li>
            <li class="grow" data-aos="fade-right"><a href="#portfolio">Portfolio</a></li>
            <li class="grow" data-aos="fade-right"><a href="#contact">Contact Us</a></li>
        </ul>  
</nav>

<style>

    a, li {
        text-decoration: none;
        color: white;
        font-size: 25px;
        font-family: 'Lora', serif;
        line-height: 35px;
    }

    @media (max-width: 1100px) {
        a {
            font-size: 23px;
        }
    }

    a:hover {
     color: #FFEA00;
    }

    .grow {
        transition: all .3s ease-in-out;
        flex-grow: 1;
        text-align: center;
        width: 80%;
    }

    .grow:hover {
        text-shadow: 0 0 7px;
        text-shadow: 4px 4px 8.3px 0px #FDB82780;
        transform: scale(1.1);
    }

    li {
        list-style-type: none;
    }

    .navmenu {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 1000;
        background-color: transparent;
        padding: 5px 0; 
        transition: background-color 0.3s ease;
    }

    .navmenu.scrolled {
        background-color: rgb(23,27,33, 0.9);
    }

    .navmenu .grow:nth-child(3) {
    flex-grow: 2; 
}


    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

</style>

<script>
    document.addEventListener('DOMContentLoaded', function () {
    const navbar = document.getElementById('navbar');
    window.addEventListener('scroll', function () {
      if (window.scrollY > 0) {
    //@ts-ignore
        navbar.classList.add('scrolled');
      } else {
    //@ts-ignore
        navbar.classList.remove('scrolled');
      }
    });
  });
</script>
