---
---

<div class="plans" id="plans">
    <h1 data-aos="fade-down">I WANT</h1>
    <div class="cards">
        <div class="card" data-aos="fade-right">
            <h2>E-Commerce Website</h2>
            <img src="/Plans/cart 1.svg" alt="">
        </div>
        <div class="card" data-aos="fade-down">
            <h2>Showcase Website</h2>
            <img src="/Plans/artist 1.svg" alt="">
        </div>
        <div class="card" data-aos="fade-left">
            <h2>Custom Website</h2>
            <img src="/Plans/custum 1.svg" alt="">
        </div>
    </div>
</div>

<style>
    .plans {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        align-self: flex-start;
        height: 100vh;
        gap: -80px;

    }

    h1 {
        font-size: 239px;
        font-family: 'Fjalla One', sans-serif;
        font-weight: 400;
        font-style: normal;
        background: -webkit-linear-gradient(279.88deg, #FFFFFF -45.21%, #0019FA 119.75%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin:0px;
    }

    h2 {
        font-family: 'Fjalla One', sans-serif;
        font-weight: 400;
        font-style: normal;
        font-weight: 400;
        font-style: normal;
        font-size: 33px;
        line-height: 41%;
        padding-top: 30px;
        text-shadow: 5px 4px 7px rgba(0, 0, 0, 0.25);
    }

    .cards {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 85%;
        height: 53%;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width:25%;
        height: 100%;
        border-radius: 34px;
        backdrop-filter: blur(50px);
        background: linear-gradient(144.28deg, #FFFFFF -76.95%, rgba(153, 153, 153, 0) 102.97%);
        opacity: 0.6;


/*        background-image: -moz-linear-gradient(135deg, rgb(179, 231, 255), rgb(255, 253, 194));
        background-image: -webkit-linear-gradient(135deg, rgb(179, 231, 255), rgb(255, 253, 194));
        background-image: linear-gradient(135deg, rgb(179, 231, 255), rgb(255, 253, 194));*/
    }

    img {
        height: 310px;
    }


       
</style>