<div class="works" id="portfolio">
    <h1 class=""><span class="stretch">O</span>ur Works</h1>
    <div class="row">
        <div class="inner">
            <div class="flip-card flip-card-1">
                <div class="flip-card-inner a">
                    <div class="flip-card-front">
                        <img src="/Our work/HEX after.png" alt="Image 1">
                    </div>
                    <div class="flip-card-back">
                        <img src="/Our work/HEX Befor.png" alt="Image 1 Back">
                    </div>
                </div>
            </div>
            <div class="flip-card flip-card-2">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="Our work/MYLES after.png" alt="Image 2">
                    </div>
                    <div class="flip-card-back">
                        <img src="/Our work/MYLES Befor.png" alt="Image 2 Back">
                    </div>
                </div>
            </div>
        </div>
        <div class="inner">
            <div class="flip-card flip-card-3" style="height: 270%;">
                <div class="flip-card-inner b">
                    <div class="flip-card-front">
                        <img class="xyence" src="/Our work/XYENCE after.png" alt="Image 3">
                    </div>
                    <div class="flip-card-back">
                        <img class="xyence" src="/Our work/XYENC Befor.png" alt="Image 3">
                    </div>
                </div>
            </div>
            <div class="flip-card flip-card-4">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="twinklin" src="/Our work/Twinklin after.png" alt="Image 4">
                    </div>
                    <div class="flip-card-back">
                        <img class="twinklin" src="/Our work/Twinklin Befor.png" alt="Image 4 Back">
                    </div>
                </div>
            </div>
        </div>
        <div class="inner c">
            <div class="static-card">
                <img src="/Our work/We auto.png" alt="Image 5">
            </div>
        </div>
    </div>
</div>
    <!-----
    
    <div class="wrapper">

        <div class="inner a" data-aos="fade-right" data-aos-anchor="#trigger" data-aos-mirror="true" data-aos-once="false">
            <img src="/Our work/HEX after.png" alt="">
            <img src="/Our work/MYLES after.png" alt="">
        </div>

        <div class="inner b" data-aos="fade-down" data-aos-mirror="true" data-aos-once="false">
            <img src="/Our work/XYENCE after.png" style="height: 430px;" alt="">
            <img src="/Our work/Twinklin after.png" alt="">
        </div>

        <div id="trigger"></div>
        <div class="inner c" data-aos="fade-left" data-aos-mirror="true" data-aos-once="false">
            <img src="/Our work/We auto.png" alt="">
        </div>
    </div>
    --- -->

</div>

<style>

  @import url("http://fonts.googleapis.com/css?family=Fjalla+One");
    .works {
        padding-top: 100px;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        gap: 15px;
    }

    h1 {
        font-family: 'Fjalla One', sans-serif;
        font-weight: bold;
        font-style: normal;
        font-size: 69px;
        color: white;
        margin-top: 20px;
    }


.test{
  display: flex;
  justify-content: center;
  gap: 20px;
}

img {
    height: 100%;
}

.flip-card {
  width: 100%;
  height: 100%;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

    .row {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        width: 80%;
        height: 100%;
        gap: 30px;
    }

    .inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: transparent;
        width:40%;
        height: 100%;
    } 

    .inner .b {
        width: 100%;
        height: 100%;
    }

    .b {
    }

    .xyence {
        height: 95%;
    }

    .twinklin {
        height: 100%;
        object-fit: fill;
    }

    .inner .a {
        width: 100%;
        height: 98%;
    }

    .static-card {
        height: 100%;
        object-position: center;
        object-fit: cover;
        width: 100%;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    

    img {
        border: 7px solid white;
    }

    .stretch {
        display: inline-block;
        animation: stretchAnimation 2s ease-in-out infinite;
        transform-origin: bottom;
    }

    @keyframes stretchAnimation {
        0%, 100% {
            transform: scaleY(1);
        }
        50% {
            transform: scaleY(1.8);
        }
    }


a {
    color: #024794;
}

a:hover {
    text-decoration: none;
}

@media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
    }
}

</style>