<!--
---
import Layout from "../layouts/Layout.astro";
import Contact from "../components/landingpage/Contact.astro";
---

<Layout title="Contact page">
    <main>
       <Contact />
    </main>
</Layout>

<style>
    main {
        height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
</style>

 -->