<!--
---
import Layout from "../layouts/Layout.astro";
import Plans from "../components/landingpage/Plans.astro";
---

<Layout title="Plans">
    <main>
        <Plans />
    </main>
</Layout>

<style>
    main {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

 -->