---
import Layout from "../layouts/Layout.astro";
import MainDescription from "../components/landingpage/MainDescription.astro";
---

<Layout title="Shibumi">
    <main>
        <MainDescription />
    </main>
</Layout>

<style>
    main {
        height: 100vh;
    }
</style>