---
import Layout from "../layouts/Layout.astro";
import MainDescription from "../components/landingpage/MainDescription.astro";
import Works from "../components/landingpage/Works.astro";
import Plans from "../components/landingpage/Plans.astro";
import Contact from "../components/landingpage/Contact.astro";
import NavMenu from "../components/landingpage/NavMenu.astro";

import "aos/dist/aos.css";
---

<Layout title="Shibumi" >
    <main>
        <NavMenu />
        <MainDescription />
        <Plans />
        <Works />
        <Contact />
    </main>
</Layout>

<style>
    main {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 50px;
    }

    .hidden {
        display: none;
    }
    
        
</style>
